<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cook It! (Beta)</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('https://s3-us-west-1.amazonaws.com/cookits3bucket/cook_it_beta_grande.jpg?X-Amz-Date=20141004T020357Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=ef6d96d9d46373c41c674033dacf9981e505bf25354e0da9fe84f8c49accde92&X-Amz-Credential=ASIAJN77BVF55BB56U5Q/20141004/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEID//////////wEakALh7dNZb6bzM3nI/RYIDZi6gz3NiuYAZmc/OsTn5qhYiuoOfPbJBhQbxgEIfJismUpZXSOmSZ9ltbQlWinE56mvVJOUy8DnhYorD765APQP26oMOC0%2B5dOCW/RzQ3iJdHd4uyxS3Z/5KKl/pl5WM/AGQFsd%2Byl/oYwQdWZthWexhGHKvtRJ6VWMW8EQVOscHbd/GXVSyvDoS6j75p2wZPXe608jzFttc7ph3zB4KoWNT7/X%2Bu1W6EeYvFNzox8p58VS/GuHF76j5lJe3cqLrUSb/fjSvTwxaR2PY/eOGybK8xpifhwEJU2HunSdPme4pDdxkMrMT%2BGlkMZF4qqt1CtJU7rEXnxJ1JQeXjU%2B9nUA9iCvyLyhBQ%3D%3D');"></div>
                <div class="carousel-caption">
                    <h2>Ya está aquí la beta oficial de Cook It!</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://pixabay.com/get/c0b5f3d3878762e29c4b/1412388436/fried-chicken-250863_1920.jpg?direct');"></div>
                <div class="carousel-caption">
                    <h2>Aquí podrás encontrar todo tipo de recetas</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenido a Cook It!
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>¿Qué es Cook It!?</h4>
                    </div>
                    <div class="panel-body">
                        <p>Cook It! es la alternativa para encontrar, crear, compartir recetas y mucho más. ¿Qué esperas? <%= link_to 'Crea una cuenta', new_user_registration_path %> y empieza a disfrutar de Cook It! ahora mismo. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> 100% GRATIS</h4>
                    </div>
                    <div class="panel-body">
                        <p>No te preocupes, Cook It! no te cobrará ni un solo centavo por compartir o buscar una receta, así que no pierdas más tiempo y encuentra ya una receta para deleitar tu paladar.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Cook It! está en Beta</h4>
                    </div>
                    <div class="panel-body">
                        <p>Cook It! está en Beta y no ha sido terminado al 100%, por lo que aún no cuenta con funciones avanzadas y es posible que haya errores pero no te preocupes, en Cook It! trabajaremos día y noche para mejorar la experiencia de cada usuario, siempre. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Cook It! 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>

