/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= include reset
 *= include bootstrap.min
 *= include modern-business
 *= include font-awesome.min
 *= include font-awesome
 *= require_tree .
 *= require_self
 */

.navbar-brand{
	font-size: 1.7em;
}

.signuph2{
	display:none;
}
.signupfld{
	font-family: "Verdana";
	font-size: 1.2em;
	width: 30%;
	margin: 1% 0px 1% 0px;
	/*float: right;*/
}

.signuplbl{
	/*float: left;*/
	margin: 2% 0px 2% 0px;
	font-size: 1em;
	font-weight: bold;
}

.signupform{
	margin: 10% 0px 0px 35%;
	width: 30%;
}

.signinaction{
	margin: 3% -20% 0px 23%;
}

.checkbox{
	margin: 1% 0px 1% 35%;
}